$primary-card-color: #271f1f;
$active-card-color: #ec625f;

.card {
    background-color: $primary-card-color;
    padding: 0.1em 0px;
    color: white;
    cursor: pointer;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100%);
    border-bottom: thin solid darken($primary-card-color, 20%);
    display: grid;
    grid-template-columns: 1.5em auto minmax(10%, 40px);
    margin-bottom: 0.7em;

    .information {
        grid-column: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .card-title {
            margin-top: 0.5rem;
            .mark {
                color: black;
            }
        }
    }

    .remove-button {
        display: none;
    }

    &:hover .remove-button {
        $remove-button-color: #bf1f1fc1;
        grid-column: 3;
        display: flex;
        align-self: center;
        justify-self: center;
        color: $remove-button-color;

        &:hover {
            color: lighten($remove-button-color, 20%);
        }

        &:active {
            color: lighten($remove-button-color, 30%);
        }
    }
}

.card:hover {
    background-color: darken($primary-card-color, 10%);
}

.card.active:hover {
    background-color: darken($active-card-color, 10%);
}

.card:active {
    @extend .active;
}

.active {
    background-color: $active-card-color;
    border-bottom: thin solid darken($active-card-color, 20%);
}
