<div class="container">
    <as-split direction="horizontal">
        <as-split-area [size]="30" [minSize]="10" [maxSize]="40">
            <session-panel-list (selectionChanged)="selectedSession = $event"
            [currentSession]="currentSession"
            [savedSessions]="savedSessions"
            (onSessionDelete)="deleteSession($event)"
            ></session-panel-list>
        </as-split-area>
        <as-split-area [size]="70" style="overflow: hidden;">
            <session-detail [sessionInfo]="selectedSession" (sessionSaved)="reload()"></session-detail>
        </as-split-area>
    </as-split>
</div>

<div class="modal-container"></div>
