<div class="main">
    <as-split direction="horizontal">
        <as-split-area [size]="30" [minSize]="20" [maxSize]="40">
            <session-panel-list (selectionChanged)="selectedSession = $event" [allSessions]="allSessions"
                (onSessionDelete)="deleteSession($event)"></session-panel-list>
        </as-split-area>
        <as-split-area [size]="70" style="overflow: hidden;">
            <session-detail [session]="selectedSession" (sessionSaved)="reload()"></session-detail>
        </as-split-area>
    </as-split>
</div>
