<ng-template #template>
    <div class="modal-header">
        <h4>{{title || 'Confirm'}}</h4>
    </div>

    <div class="modal-body text-center">
        <p>{{question || 'Are you sure?'}}:</p>
        <input type="text" [(ngModel)]="answer" [placeholder]="defaultAnswer" />

    </div>

    <div class="modal-footer">
        <button type="button" class="button" (click)="save()">
            <div class="text">Save</div>
        </button>
        <button type="button" class="button transparent" (click)="cancel()">
            <div class="text"> Cancel</div>
        </button>
    </div>
</ng-template>