@import "../../common.scss";

.main {
    word-break: break-all;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
}

.header {
    color: white;
    padding: 1em;
    border-bottom: thin solid grey;
    display: flex;
    align-content: space-between;
    align-items: center;
}

.header-title {
    display: inline-block;
    flex-basis: 100%;

    .link {
        text-decoration: underline;
        cursor: pointer;
    }
}

.content {
    padding: 1em;
    color: white;
    height: 90%;
    contain: strict;

    .content-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5em;

        .content-date {
            flex-basis: 75%;
            font-size: larger;
            word-break: normal;

            .content-date-ago {
                color: grey;
            }
        }
        .content-stats {
            word-break: normal;
            text-align: end;
            flex: 25%;
        }
    }

    .content-container {
        margin-left: 1em;
        max-height: 600px;
        .session-window {
            margin-bottom: 3em;
            .window-header {
                margin-bottom: 1em;
                .incognito-label {
                    // background-color: transparent;
                    // border-radius: 15%;
                    // border: 2px solid $primary-btn-color;
                    // display: inline-block;
                    // padding: 2px;
                    margin-right: 0.5em;
                }
                .window-label {
                    margin-right: 2.5em;
                }
                .window-metadata {
                    color: grey;
                }
            }

            .window-tabs {
                display: flex;
                align-items: center;
                margin-left: 1em;
                margin-bottom: 0.5em;

                .tab-image {
                    margin-right: 1em;
                    width: 16px;
                    height: 16px;
                }

                .tab-title {
                    color: $primary-btn-color;
                    margin-right: 1em;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 300px;
                }

                .tab-title:hover + .tab-url {
                    display: block;
                }

                .tab-url {
                    display: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 30%;
                }
            }
        }
    }
}

.action {
    display: flex;
    min-width: max-content;
}
