<div class="main" *ngIf="session">
    <div class="header">
        <div class="header-title">
            <h4 *ngIf="!session.id else databaseSession">
                Current Session
            </h4>
            <ng-template #databaseSession>
                <h4 class="link" (click)="editName(session)" matTooltip="Edit name">
                    {{session.type === "Saved" ? session.name : "Backup Session"}}
                </h4>
            </ng-template>

        </div>
        <div class="action">
            <button class="button" aria-label="Save" (click)="save(session)"
                *ngIf="!session.id">
                <div class="icon">
                    <i-feather name="save"></i-feather>
                </div>
                <div class="text">Save</div>
            </button>
            <button class="button" aria-label="Open" [disabled]="!session.id"
                (click)="open(session)">
                <div class="text">Open</div>
            </button>
            <button class="button transparent" [matMenuTriggerFor]="sessionMenuRef" aria-label="menu">
                <i-feather name="more-vertical"></i-feather>
            </button>
        </div>
    </div>
    <div class="content">
        <div class="content-meta">
            <div class="content-date">
                Changed {{toDateString(session)}} <span
                    class="content-date-ago">{{ago(session.date)}}</span>
            </div>
            <div class="content-stats">
                {{getStats(session)}}
            </div>
        </div>
        <ng-scrollbar>
            <div class="content-container">
                <div class="session-window" *ngFor="let w of session.windows | sortByIncognito">
                    <div class="window-header">
                        <fa-icon class="incognito-label" *ngIf="w.incognito" [icon]="incognito"></fa-icon>
                        <!-- <div class="incognito-label" *ngIf="w.incognito">Incognito</div> -->
                        <label class="window-label link" (click)="openWindow(session.id, w.id)"
                            [matTooltip]="session.id ? 'Open window' : 'Focus window'">Window</label>
                        <label class="window-metadata">{{w.tabs.length}} tabs</label>
                        <button class="button transparent window-menu-button" [matMenuTriggerFor]="windowMenuRef" aria-label="menu">
                            <i-feather name="more-vertical"></i-feather>
                        </button>
                    </div>
                    <div class="window-tabs" *ngFor="let t of w.tabs">
                        <div class="remove-button" matTooltip="Remove tab" [matTooltipShowDelay]="1000"
                            (click)="deleteTab(session.id, w.id, t.id)" *ngIf="session.id">
                            <fa-icon [icon]="closeIcon"></fa-icon>
                        </div>
                        <img class="tab-image" [src]="t.favIconUrl | safe" />
                        <ng-container *ngIf="searchResult else noSearch">
                            <a class="tab-title" [href]="t.url | safe" [innerHTML]="mark(t.title, t.url)"></a>
                        </ng-container>
                        <ng-template #noSearch>
                            <a class="tab-title" [href]="t.url | safe">{{t.title}}</a>
                        </ng-template>
                        <a class="tab-url">{{t.url}}</a>
                    </div>
                </div>
            </div>
        </ng-scrollbar>
    </div>
</div>

<prompt-modal #prompt></prompt-modal>
<settings-menu (menuRef)="sessionMenuRef = $event" [menuItems]="sessionMenu"></settings-menu>
<settings-menu (menuRef)="windowMenuRef = $event" [menuItems]="windowMenu"></settings-menu>
