@import "../../common.scss";

.main {
    word-break: break-all;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
}

.header {
    color: white;
    padding: 1em;
    border-bottom: thin solid grey;
    display: flex;
    align-content: space-between;
    align-items: center;
}

.header-title {
    display: inline-block;
    flex-basis: 100%;

    > h4 {
        display: inline-block;
    }
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.content {
    padding: 1em;
    color: white;
    height: 97%;
    contain: strict;

    .content-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5em;

        .content-date {
            flex-basis: 75%;
            font-size: larger;
            word-break: normal;

            .content-date-ago {
                color: grey;
            }
        }
        .content-stats {
            word-break: normal;
            text-align: end;
            flex: 25%;
        }
    }

    .content-container {
        margin-left: 1em;
        max-height: 600px;
        .session-window {
            margin-bottom: 3em;

            &:last-child {
                padding-bottom: 3em;
            }

            $ingcognito-label-size: 1em;
            $ingcognito-label-margin: 1em;

            .window-header {
                margin-bottom: 1em;
                display: inline-block;

                .incognito-label {
                    // background-color: transparent;
                    // border-radius: 15%;
                    // border: 2px solid $primary-btn-color;
                    // display: inline-block;
                    // padding: 2px;
                    font-size: $ingcognito-label-size;
                    margin-right: $ingcognito-label-margin;
                }

                // When there is no incognito label
                .window-label:first-child {
                    margin-left: 2 * $ingcognito-label-size;
                }

                .window-label {
                    margin-right: 1em;
                }

                .window-metadata {
                    margin-right: 1em;
                    color: grey;
                }

                &:hover .window-menu-button,
                .window-menu-button[aria-expanded="true"] {
                    visibility: visible;
                }

                .window-menu-button {
                    display: inline-block;
                    visibility: hidden;
                }
            }

            .window-tabs {
                display: grid;
                grid-template-columns: 1em 1em min-content minmax(300px, max-content);
                grid-gap: 1em;
                align-items: center;
                margin-bottom: 0.5em;

                .remove-button {
                    display: none;
                }

                &:hover .remove-button {
                    $remove-button-color: #bf1f1fc1;
                    grid-column: 1;
                    display: flex;
                    align-self: center;
                    justify-self: center;
                    color: $remove-button-color;

                    &:hover {
                        color: lighten($remove-button-color, 20%);
                    }

                    &:active {
                        color: lighten($remove-button-color, 30%);
                    }
                }

                .tab-image {
                    margin-right: 1em;
                    width: 16px;
                    height: 16px;
                    grid-column: 2;
                }

                .tab-title {
                    color: $secondary-color;
                    margin-right: 1em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 300px;
                    grid-column: 3;
                }

                .tab-title:hover + .tab-url {
                    display: block;
                }

                .tab-url {
                    display: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    grid-column: 4;
                }
            }
        }
    }
}

.action {
    display: flex;
    min-width: max-content;
}
