@import "node_modules/normalize-scss/sass/normalize";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "common.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@include normalize();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Session-primary: mat-palette($mat-indigo);
$Session-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Session-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Session-theme: mat-light-theme(
    (
        color: (
            primary: $Session-primary,
            accent: $Session-accent,
            warn: $Session-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Session-theme);

/* You can add global styles to this file, and also import other style files */
body {
    width: 800px;
    height: 600px;
    margin: 0px;
    background-color: #313131;
    box-sizing: border-box;
    overflow: hidden;
}

.as-split-gutter {
    background-color: #414141 !important;
}

html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

input[type="text"] {
    border-radius: 5%;
    padding: 0.6rem;
}


// Bootstrap modal

.modal {
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // z-index: 1050;
    // display: none;
    // overflow: hidden;
    // -webkit-overflow-scrolling: touch;
    // outline: 0;
    color: white;
}
.modal-content {
    // position: relative;
    background-color: #414141;
    // -webkit-background-clip: padding-box;
    //         background-clip: padding-box;
    // border: 1px solid #999;
    // border: 1px solid rgba(0, 0, 0, .2);
    // border-radius: 6px;
    // outline: 0;
    // -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    //         box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
//   .modal-backdrop {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1040;
//     background-color: #000;
//   }
//   .modal-backdrop.fade {
//     filter: alpha(opacity=0);
//     opacity: 0;
//   }
//   .modal-backdrop.in {
//     filter: alpha(opacity=50);
//     opacity: .5;
//   }
.modal-header {
    // padding: 15px;
    border-bottom: thin solid grey;
}
//   .modal-header .close {
//     margin-top: -2px;
//   }
//   .modal-title {
//     margin: 0;
//     line-height: 1.42857143;
//   }
//   .modal-body {
//     position: relative;
//     padding: 15px;
//   }
.modal-footer {
    // padding: 15px;
    // text-align: right;
    // border-top: 1px solid #e5e5e5;
    border-top: thin solid grey;
}
//   .modal-footer .btn + .btn {
//     margin-bottom: 0;
//     margin-left: 5px;
//   }
//   .modal-footer .btn-group .btn + .btn {
//     margin-left: -1px;
//   }
//   .modal-footer .btn-block + .btn-block {
//     margin-left: 0;
//   }
//   .modal-scrollbar-measure {
//     position: absolute;
//     top: -9999px;
//     width: 50px;
//     height: 50px;
//     overflow: scroll;
//   }



/// button
.button {
    color: white;
    background-color: $primary-btn-color;
    border-radius: 10%;
    padding: 0px;
    margin: 0.5em;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;

    .text {
        padding: 0.5em;
    }

    .icon {
        backdrop-filter: brightness(0.5);
        -webkit-backdrop-filter: brightness(0.5);
        padding: 3px;
        border-radius: 10% 0% 0% 10%;
    }
}

.button:enabled {
    // border-bottom: thin solid darken($primary-btn-color, 10%);
    // border-right: thin solid darken($primary-btn-color, 10%);
    cursor: pointer;
}

.button:disabled {
    background-color: grey;
    color: darken($color: white, $amount: 20%);
}

.button:enabled:hover {
    background-color: darken($primary-btn-color, 10%);
}

.button:enabled:active {
    background-color: darken($primary-btn-color, 20%);
}

.button.transparent {
    background-color: transparent;
    border: none;
}

.button.transparent:hover {
    @extend .button, .transparent, :enabled;
}

.button.transparent:active {
    @extend .button, .transparent, :enabled;
}

// Mark
.card-title {
    .mark {
        color: black;
    }
}


// Mat menu
.mat-menu-panel {
    background-color: $primary-color;

    .mat-menu-item {
        color: white;
        height: 35px;
        line-height: normal;

        &:focus {
            outline: 2px solid $secondary-color;
        }
    }

    .mat-divider {
        border-top-width: 2px;
        border-top-color: rgba(0, 0, 0, 0.32);
    }
}
