/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    background-color: #313131;
}

.as-split-gutter {
    background-color: #414141!important;
}
