<ng-template #template>
    <div class="modal-header">
        <h4>Export</h4>
    </div>

    <div class="modal-body text-center">
        <textarea #exportTextArea [(ngModel)]="exportText" [readOnly]="true"> </textarea>
    </div>

    <div class="modal-footer">
        <button type="button" class="button" (click)="copyToClipboard(exportTextArea)">
            <div class="text">Copy to clipboard</div>
        </button>
        <button type="button" class="button transparent" (click)="close()">
            <div class="text">Close</div>
        </button>
    </div>
</ng-template>
