<div class="grid">
    <session-search [sessionSearchList]="allSessions" (searchResult)="filterSearchResult($event)" ></session-search>
    <ng-template #listTemplate let-sessions>
        <ng-scrollbar>
            <div class="main" *ngIf="sessions">
                <div class="list" *ngIf="sessions | filterCurrentSession as currentSession">
                    <h5>{{currentSessionName}}</h5>
                    <session-card [searchResult]="searchResult" [session]="currentSession" #card
                        (click)="setActive(currentSession, card)"
                        (onSessionDelete)="onSessionDelete.emit($event)"></session-card>
                </div>

                <div class="list">
                    <h5>{{backupSessionName}}</h5>
                    <session-card [searchResult]="searchResult" *ngFor="let backupSess of sessions | filterBackupSessions" [session]="backupSess" #backupCard
                        (click)="setActive(backupSess, backupCard)"
                        (onSessionDelete)="onSessionDelete.emit($event)"></session-card>
                </div>

                <div class="list">
                    <h5>Saved Sessions</h5>
                    <session-card [searchResult]="searchResult" *ngFor="let savedSess of sessions | filterSavedSessions" [session]="savedSess" #savedCard
                        (click)="setActive(savedSess, savedCard)"
                        (onSessionDelete)="onSessionDelete.emit($event)"></session-card>
                </div>
            </div>
        </ng-scrollbar>
    </ng-template>

    <ng-container *ngIf="!searchSessions; else searchList">
        <ng-container *ngTemplateOutlet="listTemplate; context: {$implicit: allSessions}" ></ng-container>
    </ng-container>

    <ng-template #searchList>
        <ng-container *ngTemplateOutlet="listTemplate; context: {$implicit: searchSessions}" ></ng-container>
    </ng-template>
</div>
