.list {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    width: calc(100%);
    margin-bottom: 2em;
}

.main {
    margin: 1em;
}

.grid {
    display: grid;
    grid-template-rows: 6.5% 93.5%;
    height: 100%;
}
